@use '../lib/variables_mixins.scss' as *;

.filter__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    padding: 2rem;
    position: relative;
    background-color: rgb(246, 241, 241);

    @include desktop {
        width: 90%;
        margin-left: 3rem;
        border: 1px solid grey;
        border-radius: 0.5rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    }
}

.filter {
    margin-bottom: 1rem;

    @include desktop {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    &__title {
        font-size: 1.3rem;
    }
}

.type {

    &__option {
        padding-bottom: 0.5rem;
    }
}
.rating {

    @include desktop { 
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        gap: 0.1rem;
    }

    &__box {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        gap: 0.1rem;
    }

    &__stars {
        grid-column: 2 / 3;
         grid-row: 2 / 3;
        gap: 0.25rem;
        direction: rtl; //för att få stjärnorna till vänster lyser upp
        cursor: pointer;
    }

    .fa-star {
        font-size: 1.2rem;
        color: gray;
    }

    .fa-star.checked {
        color: orange;
    }

    .fa-star:hover,
    .fa-star:hover~.fa-star {
        color: orange;
    }

    p {
        padding: 0 1rem;
    }
}

.tags {

    @include desktop {
        grid-column: 3 / 4;
         grid-row: 2 / 3;
    }

    .tag {
        display: inline-block;
        font-weight: 600;
        border-radius: 30px;
        padding: 0rem 0.9rem;
        line-height: 0.1rem;
        margin: 0.15rem;
        font-size: 1rem;
        cursor: pointer;

        background-color: white;
        color: grey;
        box-shadow: inset 0 0 0 2px grey;
    }

    .tag.checked {
        background-color: grey;
        color: white;
        box-shadow: none;

    }

}

.search-bar {

    input {
        width: 20rem;
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;

        @include desktop {
            width: 20rem;
        }
    }

    //NYTT
    @include desktop {
        width: 100rem;
    }
}

//FILTER CHALLENGES
.filter__content {
    position:relative
}

.filter__close {
   position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
  z-index: 999;
}